# Assignment 3

this assignment you will practice using Pandas and how to manipulate data to turn it into useful information.

### 1. Import libraries and data frames

- here you need to import `pandas` and `numpy` libraries to use them.
- then, import needed datasets, `Team1.csv`, `Team2.csv` and `Team_Attributes.csv` and assign them with understandable names.

In [123]:
import numpy as np
import pandas as pd

In [124]:
teams1 = pd.read_csv(r"C:\Users\Ahmed Ayman\Jupyter\Session3\Assignment3\Teams1.csv")
teams2 = pd.read_csv(r"C:\Users\Ahmed Ayman\Jupyter\Session3\Assignment3\Teams2.csv")
teams_attributes = pd.read_csv(r"C:\Users\Ahmed Ayman\Jupyter\Session3\Assignment3\Team_Attributes.csv")
display(teams1, teams2, teams_attributes)

     team_api_id     team_long_name
0           9987           KRC Genk
1           9993       Beerschot AC
2          10000   SV Zulte-Waregem
3           9994   Sporting Lokeren
4           9984  KSV Cercle Brugge
..           ...                ...
175         9839          VVV-Venlo
176        10218          Excelsior
177         6413         PEC Zwolle
178         7788         SC Cambuur
179         6433    Go Ahead Eagles

[180 rows x 2 columns]

     team_api_id      team_long_name
0          10219        RKC Waalwijk
1           9839           VVV-Venlo
2          10218           Excelsior
3           6413          PEC Zwolle
4           7788          SC Cambuur
..           ...                 ...
120        10190       FC St. Gallen
121        10191             FC Thun
122         9777         Servette FC
123         7730  FC Lausanne-Sports
124         7896              Lugano

[125 rows x 2 columns]

,team_api_id,buildUpPlaySpeed,buildUpPlaySpeedClass,defencePressure,defencePressureClass
0,9930,60.0,Balanced,50,Medium
1,9930,52.0,Balanced,47,Medium
2,9930,47.0,Balanced,47,Medium
3,8485,70.0,Fast,60,Medium
4,8485,47.0,Balanced,47,Medium
...,...,...,...,...,...
1453,10000,52.0,Balanced,46,Medium
1454,10000,54.0,Balanced,44,Medium
1455,10000,54.0,Balanced,44,Medium
1456,10000,54.0,Balanced,44,Medium
1457,10000,54.0,Balanced,44,Medium

### 2. Concatenate teams into one DataFrame
- concate two dataframes `team1` and `team2` vertically.
- merge `teams` and `teams attributes` and clean dataframe.

In [125]:
teams = pd.concat([teams1, teams2], axis = 0)

In [126]:
full_teams = pd.merge(teams, teams_attributes)

### 3. Exploratory DataAnalysis & Define Problems ;)
- hint: start with `info()` and `isnull()` to find the problems need to be solved.
- you have 6 problems in this data, you need to find them out and solve them to make a clean dataset.
- in column `defencePressureClass` there are null values, the one who makes the most effiecent way to solve this problem will be rewarded in the next session;)
- don't use `dropna()` to solve null values problems.

In [30]:
full_teams.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1476 entries, 0 to 1475
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   team_api_id            1476 non-null   int64
 1   team_long_name         1476 non-null   object
 2   buildUpPlaySpeed       1465 non-null   float64
 3   buildUpPlaySpeedClass  1476 non-null   object
 4   defencePressure        1476 non-null   object
 5   defencePressureClass   1473 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 80.7+ KB

In [132]:
full_teams.isnull().sum()

team_api_id               0
team_long_name            0
buildUpPlaySpeed         11
buildUpPlaySpeedClass     0
defencePressure           0
defencePressureClass      3
dtype: int64

In [133]:
full_teams['buildUpPlaySpeed'].fillna(full_teams['buildUpPlaySpeed'].mean(), inplace = True)

In [134]:
full_teams['defencePressure'] = full_teams['defencePressure'].replace('.', np.nan)

full_teams['defencePressure'] = full_teams['defencePressure'].replace('-', np.nan)

full_teams['defencePressure'] = full_teams['defencePressure'].astype(float)

In [135]:
full_teams['defencePressure'].fillna(full_teams['defencePressure'].mean(), inplace = True)

In [143]:
np.where(pd.isnull(full_teams))

(array([551, 657, 676], dtype=int64), array([5, 5, 5], dtype=int64))

In [156]:
full_teams[full_teams['defencePressureClass'].isnull()]

,team_api_id,team_long_name,buildUpPlaySpeed,buildUpPlaySpeedClass,defencePressure,defencePressureClass
551,8177,Hertha BSC Berlin,47.0,Balanced,50.0,NaN
657,8234,FC Ingolstadt 04,55.0,Balanced,37.0,NaN
676,8543,Lazio,60.0,Balanced,55.0,NaN

In [160]:
for i in full_teams[full_teams['defencePressureClass'].isnull()].defencePressure:
    if i < 34:
        full_teams['defencePressureClass'].fillna('Deep', inplace = True)
    elif i > 34 and i < 67:
        full_teams['defencePressureClass'].fillna('Medium', inplace = True)
    else:
        full_teams['defencePressureClass'].fillna('High', inplace = True)

In [161]:
full_teams.isnull().sum()

team_api_id              0
team_long_name           0
buildUpPlaySpeed         0
buildUpPlaySpeedClass    0
defencePressure          0
defencePressureClass     0
dtype: int64

### 4. Questions to be answered:
- what is the team with highest buildup speed?
- change the range of defence pressure and make it from 0 to 10 (if the highest values in this column is 70, change it to 10 and so on).
- what is the team with the longest name?
- **Bonus**:change the `buildUpSpeed` column by subtracting every values from the mean, and change std to be equal 1.

In [180]:
full_teams['team_long_name'][full_teams['buildUpPlaySpeed'].max()]

'Sint-Truidense VV'

In [190]:
full_teams['defencePressure'].min()

23.0

In [195]:
binEdges= [0,10,20,30,40,50,60,70,80,90,100]
binNames= [1,2,3,4,5,6,7,8,9,10]

In [196]:
full_teams['defencePressure'] = pd.cut(full_teams['defencePressure'], binEdges, labels=binNames)

In [197]:
full_teams.head()

,team_api_id,team_long_name,buildUpPlaySpeed,buildUpPlaySpeedClass,defencePressure,defencePressureClass
0,9987,KRC Genk,45.0,Balanced,7,High
1,9987,KRC Genk,66.0,Balanced,5,Medium
2,9987,KRC Genk,53.0,Balanced,5,Medium
3,9987,KRC Genk,58.0,Balanced,5,Medium
4,9987,KRC Genk,58.0,Balanced,5,Medium

In [188]:
full_teams['team_long_name'][full_teams['team_long_name'].str.len().max()]

'RSC Anderlecht'