In [1]:
import pandas as pd

In [8]:
dictionary = {
    "col1" : [1,2],
    "col2" : [3,4]
}
df = pd.DataFrame(dictionary)

In [9]:
df

   col1  col2
0     1     3
1     2     4

In [11]:
df["col1"].mean()

1.5

In [12]:
df["col2"].median()

3.5